body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 24rem;
  position: relative;
  .bg {
    width: 100%;
    height: 24rem;
    position: absolute;
  }
  .cover-1 {
    position: absolute;
    top: 0;
    background: rgba(24, 114, 217, 0.1);
    width: 100%;
    height: 24rem;
  }
  .cover-2 {
    position: absolute;
    top: 0;
    background: rgba(0,0,0, 1);
    width: 100%;
    height: 24rem;
  }
  .title {
    position: relative;
    margin-top: 0.85rem;
    margin-left: 0.85rem;
    width: 2.2rem;
    height: auto;
  }
  .slogan {
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 0.8rem;
    .title-1 {
      display: block;
      margin: 0 auto;
      font-size: 36px;
    }
    .title-2 {
      display: block;
      margin: 0 auto;
      font-size: 12px;
      line-height: 0.86;
      letter-spacing: 5px;
    }
  }
  .slogan-2 {
    width: 9.21rem;
    margin: 0.685rem auto 0;
    font-size: 12px;
    color: white;
    position: relative;
    text-align: center;
    .slogan-2-1, .slogan-2-2 {
      width: 3.6rem;
      display: inline-flex;

      text-align: left;
    }
    .slogan-2-1 {
      margin-right: 0.5rem;
      .direct {
        position: relative;
        top: 2px;
        margin-right: 6px;
        float: left;
        background: url('../image/compare.png');
        -webkit-background-size: 13px;
        background-size: 13px;
        width: 13px;
        height: 13px;
      }
    }
    .slogan-2-2 {
      .pointer {
        position: relative;
        top: 2px;
        margin-right: 6px;
        float: left;
        background: url('../image/pointer.png');
        -webkit-background-size: 13px;
        background-size: 13px;
        width: 13px;
        height: 13px;
      }
    }
  }
  .desc-2 {
    position: relative;
    display: block;
    margin: 0.85rem auto 0;
    width: 9.75rem;
    height: auto;
  }
  .mobile-phone {
    width: 9.3rem;
    height: 12rem;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    .draw-iphone {
      width: 7.6rem;
      height: 11.8rem;
      border: 1px solid #979797;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top-left-radius: 0.9rem;
      border-top-right-radius: 0.9rem;
      border-bottom: none;
      .draw-iphone-line {
        width: 1.7rem;
        height: 1px;
        background: #979797;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 0.7rem;
      }
      .draw-iphone-inner {
        width: 6.7rem;
        height: 10.2rem;
        border: 1px solid #979797;
        border-bottom: none;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .txt {
          bottom: 0.5rem;
          position: absolute;
          left: 0;
          right: 0;
          .app {
            display: block;
            width: 4rem;
            height: auto;
            position: relative;
            bottom: 2rem;
            margin: 0 auto;
          }
          .title-1, .title-2 {
            color: white;
            font-size: 12px;
            display: block;
            text-align: center;
          }
        }

      }
    }

  }

}
.body-content {
  .desc-part {
    margin-top: 2.15rem;
    width: 100%;
    height: 14.95rem;
    background: url('../image/bitmap.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    .coin{
      width: 6.5rem;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .title {
      font-size: 2.05rem;
      display: block;
      text-align: center;
      color: #333333;
      margin-top: 1.0rem;
    }
    .title-2 {
      color: #666666;
      font-size: 12px;
      display: block;
      text-align: center;
      line-height: 1rem;
    }
    .title-sub {
      display: block;
      text-align: center;
    }
    .title-sub-2 {
      display: block;
      margin: 0 auto;
    }
    .title-sub-2-fast {
      display: block;
      margin: 0 auto;
    }
    .line {
      display: block;
      margin: 0.3rem auto 0;
      width: 4rem;
      height: 1px;
      background: #ce222e;
    }
  }
  .p5 {
    height: 21rem;
    margin: 2.15rem auto 0;
    font-size: 12px;
    color: #666666;
    background-position: 0 100%;
    .text {
      margin-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      p {
        text-indent: 1rem;
      }
    }

  }
}
.desc-part-1, .desc-part-2, .desc-part-3, .desc-part-4, .desc-part-5 {
  .desc-part-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.desc-part-5 {
  margin-top: 2rem;
  position: relative;
  .desc-part-img {
    width: 11rem;
  }
  .text {
    width: 13.2rem;
    margin: 0 auto;
    font-size: 12px;
    color: #666666;
    p {
      text-indent: 1rem;
    }
  }
  .txt-bg {
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0.1rem;
    z-index: -1;
  }
}
.contact-info {
  margin: 0 auto;
  display: flex;
  font-size: 0.6rem;
  justify-content: space-around;
  .contact-phone {
    margin-top: 1rem;
    display: inline-flex;
    height: 1.7rem;
    .icon {
      float: left;
      width: 1rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .detail {
      display: inline-block;
      text-align: left;
      border-left: 1px solid #E1E1E1;
      margin-left: 0.5rem;
      padding-left: 0.7rem;
      height: 1.7rem;
      .title, .info {
        display: block;
        color: #333333;
      }
      .info {
        color: #999999;
      }
    }
    .phone {
      height: 1rem;
    }
    .email {
      height: 0.8rem;
    }
  }
}
.bottom {
  position: relative;
  margin-top: 1rem;
  font-size: 0;
  .map {
    position: relative;
    width: 100%;
    height: 10.67rem;
    background: url('../image/map.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    .explain {
      background: rgba(0, 0, 0, 0.5);
      color: #E1E1E1;
      font-size: 12px;
      display: block;
      width: 9rem;
      height: 2rem;
      line-height: 1.5rem;
      position: relative;
      top: 3.2rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
    }
    .location {
      display: block;
      width: 1rem;
      height: 1.07rem;
      background: url(../image/location.png);
      background-size: 100%;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }
  .app {
    width: 3.4135rem;
    height: auto;
    position: absolute;
    top: -30%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .bottom-txt {
    position: relative;
    width: 100%;
    height: 155px;
    background: #cc2533;
    font-size: 12px;
    color: white;
    .title-1 {
      padding-top: 2.5rem;
    }
    .title-1, .title-2 {
      display: block;
      text-align: center;

    }
  }
}