body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 23rem;
  background-image: url('../image/bg.png');
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header .cover-1 {
  position: absolute;
  top: 0;
  background: rgba(24, 114, 217, 0.1);
  width: 100%;
  height: 23rem;
}
.header .cover-2 {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 23rem;
}
.header .title {
  position: absolute;
  top: 0.85rem;
  left: 0.85rem;
  width: 2.2rem;
  height: auto;
}
.header .phone-call {
  position: absolute;
  top: 0.85rem;
  right: 0.85rem;
  width: 6.2rem;
  height: auto;
}
.header .desc,
.header .desc-2 {
  position: absolute;
  top: 3.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 9.75rem;
  height: auto;
}
.header .desc-2 {
  top: 9.5rem;
  width: 8rem;
}
.desc-part-1 .desc-part-img,
.desc-part-2 .desc-part-img,
.desc-part-3 .desc-part-img,
.desc-part-4 .desc-part-img,
.desc-part-5 .desc-part-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.desc-part-5 {
  margin-top: 2rem;
  position: relative;
}
.desc-part-5 .desc-part-img {
  width: 11rem;
}
.desc-part-5 .text {
  width: 13.2rem;
  margin: 0 auto;
  font-size: 12px;
  color: #666666;
}
.desc-part-5 .text p {
  text-indent: 1rem;
}
.desc-part-5 .txt-bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0.1rem;
  z-index: -1;
}
.contact-info {
  margin: 2rem 1.7rem 0;
  display: inline-block;
}
.contact-info .contact-phone {
  margin-top: 1rem;
  display: inline-block;
  height: 1.5rem;
  width: 6.2rem;
}
.contact-info .contact-phone .icon {
  float: left;
  width: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.contact-info .contact-phone .detail {
  display: inline-block;
  text-align: left;
  border-left: 1px solid #E1E1E1;
  margin-left: 0.8rem;
  padding-left: 0.8rem;
}
.contact-info .contact-phone .detail .title,
.contact-info .contact-phone .detail .info {
  display: block;
}
.contact-info .contact-phone:last-child {
  width: 11rem;
}
.contact-info .contact-phone:last-child .icon {
  width: 0.8rem;
}
.bottom {
  position: relative;
  margin-top: 1rem;
  font-size: 0;
}
.bottom .map {
  width: 100%;
  height: auto;
}
.bottom .app {
  width: 3.4135rem;
  height: auto;
  position: absolute;
  top: 50.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.bottom .bottom-img {
  background: url('../image/bottom.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
}
