body {
  margin: 0;
  padding: 0;
}
.container {
  font-size: 0;
  .header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../image/pc-bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    .logo {
      width: 86px;
      height: auto;
      position: absolute;
      top: 25px;
      left: 60px;
    }
    .contact-info {
      width: 163px;
      height: auto;
      position: absolute;
      top: 30px;
      right: 60px;
      float: right;
    }
    .header-content {
      position: relative;
      width: 1170px;
      height: 100vh;
      margin: 0 auto;
      .slogan {
        position: absolute;
        top: 30.6%;
        left: 0;
        width: 23%;
        height: auto;
      }
      .pc-head-phone {
        position: absolute;
        top: 13.2%;
        right: 17.1%;
        float: right;
        width: 30.512%;
        height: auto;
      }
      .advantage {
        position: absolute;
        top: 55.4%;
        left: 0%;
        width: 32.14%;
        height: auto;
      }
    }
  }
  .detail {
    width: 1920px;
    height: 600px;
    margin: 0 auto;
    .detail-bg {
      position: absolute;
      width: 100%;
      height: 600px;
    }
    .detail-content {
      width: 1170px;
      height: inherit;
      margin: 0 auto;
    }
    .detail-1-img, .detail-1-txt,
    .detail-2-img, .detail-2-txt,
    .detail-3-img, .detail-3-txt,
    .detail-4-img, .detail-4-txt
    {
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .detail-1-img {
      height: 56.1%;
      width: auto;
    }
    .detail-2-img {
      width: 408px;
    }
    .detail-3-img {
      width: 380px;
    }
    .detail-4-img {
      width: 426px;
    }
    .detail-1-txt {
      height: 28.8%;
      width: auto;
    }
    .detail-2-txt {
      width: 360px;
    }
    .detail-3-txt {
      width: 360px;
    }
    .detail-4-txt {
      width: 360px;
    }

    .detail-1-img, .detail-3-img {
      float: left;
      left: 0;
    }
    .detail-1-txt, .detail-3-txt {
      float: right;
      right: 13%;
    }
    .detail-2-img, .detail-4-img {
      float: right;
      right: 0%;
    }
    .detail-2-txt, .detail-4-txt {
      float: left;
      left: 15%;
    }
  }
  .detail-description {
    width: 100%;
    height: 600px;
    .detail-bg {
      position: absolute;
      width: 100%;
      height: 600px;
      z-index: -1;
    }
    .description-img {
      width: 486px;
      height: auto;
      position: relative;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .description-txt {
      float: right;
      width: 360px;
      font-size: 18px;
      color: #666666;
      position: relative;
      top: 50%;
      right: 13%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      p {
        text-indent: 35px;
      }
    }
  }
  .contact-method {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    .phone, .email, .location {
      display: inline-block;
      height: 60px;
      img {
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      .info {
        text-align: left;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        border-left: 1px solid #E1E1E1;
        margin-left: 25px;
        padding-left: 25px;
        .txt {
          display: block;
        }
      }
    }
    .phone {
      img {
        width: 30px;
        height: auto;
      }
    }
    .email {
      img {
        width: 26px;
        height: auto;
      }
    }
    .location {
      img {
        width: 22px;
        height: auto;
      }
    }
  }
  .footer {
    position: relative;
    .map {
      width: 100%;
      height: auto;
    }
    .pc-app {
      width: 188px;
      height: 188px;
      position: absolute;
      top: 38%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .pc-bottom {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width:768px) and (max-width:1024px){
  .container .header {
    height: 576px;
    .header-content {
      height: 576px;
      width: 750px;
      .pc-head-phone {
        top: 20.2%;
      }
      .advantage {
        top: 65.3%
      }
    }
  }
  .container .detail, .container .detail .detail-bg {
    height: 18.8rem;
  }
  .container .detail .detail-1-img, .container .detail .detail-1-txt,
  .container .detail .detail-2-img, .container .detail .detail-2-txt,
  .container .detail .detail-3-img, .container .detail .detail-3-txt,
  .container .detail .detail-4-img, .container .detail .detail-4-txt, {
    width: 14rem;
  }
  .container .detail-description .description-img {
    width: 28%;
  }
  .container .detail-description {
    height: 18.8rem;
  }
  .container .detail-description .description-txt {
    font-size: 0.8rem;
  }
  .container .contact-method {
    font-size: 0.8rem;
    .phone {
      width: 11rem;
    }
  }
  .container .footer .pc-app {
    width: 6.25rem;
    height: auto;
  }
}