body {
  margin: 0;
  padding: 0;
}
.container {
  font-size: 0;
  /*.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../image/pc-bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    .logo {
      width: 86px;
      height: auto;
      position: absolute;
      top: 25px;
      left: 60px;
    }
    .contact-info {
      width: 163px;
      height: auto;
      position: absolute;
      top: 30px;
      right: 60px;
      float: right;
    }
    .header-content {
      position: relative;
      width: 1170px;
      height: 100vh;
      margin: 0 auto;
      .slogan {
        position: absolute;
        top: 30.6%;
        left: 0;
        width: 23%;
        height: auto;
      }
      .pc-head-phone {
        position: absolute;
        top: 13.2%;
        right: 17.1%;
        float: right;
        width: 30.512%;
        height: auto;
      }
      .advantage {
        position: absolute;
        top: 55.4%;
        left: 0%;
        width: 32.14%;
        height: auto;
      }
    }
  }*/
}
.container .header .all-in-one {
  width: 100%;
  height: auto;
}
.container .detail {
  width: 1920px;
  height: 600px;
  margin: 0 auto;
}
.container .detail .detail-bg {
  position: absolute;
  width: 100%;
  height: 600px;
}
.container .detail .detail-content {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
}
.container .detail .detail-1-img,
.container .detail .detail-1-txt,
.container .detail .detail-2-img,
.container .detail .detail-2-txt,
.container .detail .detail-3-img,
.container .detail .detail-3-txt,
.container .detail .detail-4-img,
.container .detail .detail-4-txt {
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.container .detail .detail-1-img {
  height: 56.1%;
  width: auto;
}
.container .detail .detail-2-img {
  width: 408px;
}
.container .detail .detail-3-img {
  width: 380px;
}
.container .detail .detail-4-img {
  width: 426px;
}
.container .detail .detail-1-txt {
  height: 28.8%;
  width: auto;
}
.container .detail .detail-2-txt {
  width: 360px;
}
.container .detail .detail-3-txt {
  width: 360px;
}
.container .detail .detail-4-txt {
  width: 360px;
}
.container .detail .detail-1-img,
.container .detail .detail-3-img {
  float: left;
  margin-left: 5%;
}
.container .detail .detail-1-txt,
.container .detail .detail-3-txt {
  float: right;
  right: 5%;
}
.container .detail .detail-2-img,
.container .detail .detail-4-img {
  float: right;
  right: 5%;
}
.container .detail .detail-2-txt,
.container .detail .detail-4-txt {
  float: left;
  left: 15%;
}
.container .detail-description {
  width: 100%;
  height: 600px;
}
.container .detail-description .detail-bg {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
}
.container .detail-description .detail-content {
  height: inherit;
}
.container .detail-description .detail-content .description-img {
  width: 486px;
  height: auto;
  position: relative;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.container .detail-description .detail-content .description-txt {
  float: right;
  width: 360px;
  font-size: 18px;
  color: #666666;
  position: relative;
  top: 50%;
  right: 13%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.container .detail-description .detail-content .description-txt p {
  text-indent: 35px;
}
.container .contact-method {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}
.container .contact-method .phone,
.container .contact-method .email,
.container .contact-method .location {
  display: inline-block;
  height: 60px;
}
.container .contact-method .phone img,
.container .contact-method .email img,
.container .contact-method .location img {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.container .contact-method .phone .info,
.container .contact-method .email .info,
.container .contact-method .location .info {
  text-align: left;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-left: 1px solid #E1E1E1;
  margin-left: 25px;
  padding-left: 25px;
}
.container .contact-method .phone .info .txt,
.container .contact-method .email .info .txt,
.container .contact-method .location .info .txt {
  display: block;
}
.container .contact-method .phone img {
  width: 30px;
  height: auto;
}
.container .contact-method .email img {
  width: 26px;
  height: auto;
}
.container .contact-method .location img {
  width: 22px;
  height: auto;
}
.container .footer {
  position: relative;
}
.container .footer .map {
  width: 100%;
  height: auto;
}
.container .footer .pc-app {
  width: 188px;
  height: 188px;
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.container .footer .pc-bottom {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) {
  .container .detail {
    width: 100%;
  }
  .container .detail .detail-content {
    width: 1170px;
  }
  .container .detail .detail-content .detail-bg {
    width: 1170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container .header {
    height: 576px;
  }
  .container .header .header-content {
    height: 576px;
    width: 750px;
  }
  .container .header .header-content .pc-head-phone {
    top: 20.2%;
  }
  .container .header .header-content .advantage {
    top: 65.3%;
  }
  .container .detail,
  .container .detail .detail-bg {
    height: 18.8rem;
  }
  .container .detail .detail-1-img,
  .container .detail .detail-1-txt,
  .container .detail .detail-2-img,
  .container .detail .detail-2-txt,
  .container .detail .detail-3-img,
  .container .detail .detail-3-txt,
  .container .detail .detail-4-img,
  .container .detail .detail-4-txt {
    width: 14rem;
  }
  .container .detail-description .description-img {
    width: 28%;
  }
  .container .detail-description {
    height: 18.8rem;
  }
  .container .detail-description .description-txt {
    font-size: 0.8rem;
  }
  .container .contact-method {
    font-size: 0.8rem;
  }
  .container .contact-method .phone {
    width: 11rem;
  }
  .container .footer .pc-app {
    width: 6.25rem;
    height: auto;
  }
}
