body {
  margin: 0;
  padding: 0;
}
.container {
  font-size: 0;

  .header {
    width: 100%;
    height: 1080px;
    background: url('../image/pc-bg.png') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    .nav{
      width: 100%;
      height: 90px;
      .name {
        display: inline-block;
        height: 40px;
        width: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      .phone {
        float: right;
        font-size: 18px;
        color: #FFFFFF;
        height: 90px;
        line-height: 90px;
        display: inline-block;
        margin-right: 30px;
        img {
          float: left;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
      }
    }
    .header-content {
      width: 1170px;
      height: 950px;
      margin: 100px auto 0;
      .slogan {
        width: 100%;
        color: white;
        position: relative;
        margin-top: 0.8rem;
        .title-1 {
          display: block;
          margin: 0 auto;
          font-size: 36px;
        }
        .title-2 {
          display: block;
          margin: 0 auto;
          font-size: 12px;
          line-height: 0.86;
          letter-spacing: 5px;
        }
      }
      .slogan-2 {
        width: 9.21rem;
        margin: 0.685rem auto 0;
        font-size: 12px;
        color: white;
        position: relative;
        text-align: center;
        .slogan-2-1, .slogan-2-2 {
          width: 3.6rem;
          display: inline-flex;

          text-align: left;
        }
        .slogan-2-1 {
          margin-right: 0.5rem;
          .direct {
            position: relative;
            top: 2px;
            margin-right: 6px;
            float: left;
            background: url('../image/compare.png');
            -webkit-background-size: 13px;
            background-size: 13px;
            width: 13px;
            height: 13px;
          }
        }
        .slogan-2-2 {
          .pointer {
            position: relative;
            top: 2px;
            margin-right: 6px;
            float: left;
            background: url('../image/pointer.png');
            -webkit-background-size: 13px;
            background-size: 13px;
            width: 13px;
            height: 13px;
          }
        }
      }
    }

  }
  .detail {
    width: 1920px;
    height: 600px;
    margin: 0 auto;
    .detail-bg {
      position: absolute;
      width: 100%;
      height: 600px;
    }
    .detail-content {
      width: 1170px;
      height: inherit;
      margin: 0 auto;
    }
    .detail-1-img, .detail-1-txt,
    .detail-2-img, .detail-2-txt,
    .detail-3-img, .detail-3-txt,
    .detail-4-img, .detail-4-txt
    {
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .detail-1-img {
      height: 56.1%;
      width: auto;
    }
    .detail-2-img {
      width: 408px;
    }
    .detail-3-img {
      width: 380px;
    }
    .detail-4-img {
      width: 426px;
    }
    .detail-1-txt {
      height: 28.8%;
      width: auto;
    }
    .detail-2-txt {
      width: 360px;
    }
    .detail-3-txt {
      width: 360px;
    }
    .detail-4-txt {
      width: 360px;
    }

    .detail-1-img, .detail-3-img {
      float: left;
      margin-left: 5%;
    }
    .detail-1-txt, .detail-3-txt {
      float: right;
      right: 5%;
    }
    .detail-2-img, .detail-4-img {
      float: right;
      right: 5%;
    }
    .detail-2-txt, .detail-4-txt {
      float: left;
      left: 15%;
    }
  }
  .detail-description {
    width: 100%;
    height: 600px;
    .detail-bg {
      position: absolute;
      width: 100%;
      height: 600px;
      z-index: -1;
    }
    .detail-content {
      height: inherit;
      .description-img {
        width: 486px;
        height: auto;
        position: relative;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      .description-txt {
        float: right;
        width: 360px;
        font-size: 18px;
        color: #666666;
        position: relative;
        top: 50%;
        right: 13%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        p {
          text-indent: 35px;
        }
      }
    }
  }
  .contact-method {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    .phone, .email, .location {
      display: inline-block;
      height: 60px;
      img {
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      .info {
        text-align: left;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        border-left: 1px solid #E1E1E1;
        margin-left: 25px;
        padding-left: 25px;
        .txt {
          display: block;
        }
      }
    }
    .phone {
      img {
        width: 30px;
        height: auto;
      }
    }
    .email {
      img {
        width: 26px;
        height: auto;
      }
    }
    .location {
      img {
        width: 22px;
        height: auto;
      }
    }
  }
  .footer {
    position: relative;
    .map {
      width: 100%;
      height: auto;
    }
    .pc-app {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .pc-bottom {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container .detail {
    width: 100%;
    .detail-content {
      width: 1170px;
      .detail-bg {
        width: 1170px;
      }
    }
  }
}

@media screen and (min-width:768px) and (max-width:1024px){
  .container .header {
    height: 576px;
    .header-content {
      height: 576px;
      width: 750px;
      .pc-head-phone {
        top: 20.2%;
      }
      .advantage {
        top: 65.3%
      }
    }
  }
  .container .detail, .container .detail .detail-bg {
    height: 18.8rem;
  }
  .container .detail .detail-1-img, .container .detail .detail-1-txt,
  .container .detail .detail-2-img, .container .detail .detail-2-txt,
  .container .detail .detail-3-img, .container .detail .detail-3-txt,
  .container .detail .detail-4-img, .container .detail .detail-4-txt, {
    width: 14rem;
  }
  .container .detail-description .description-img {
    width: 28%;
  }
  .container .detail-description {
    height: 18.8rem;
  }
  .container .detail-description .description-txt {
    font-size: 0.8rem;
  }
  .container .contact-method {
    font-size: 0.8rem;
    .phone {
      width: 11rem;
    }
  }
  .container .footer .pc-app {
    width: 6.25rem;
    height: auto;
  }
}