body {
  margin: 0;
  padding: 0;
}
.container {
  font-size: 0;
  font-family: PingFangSC-Regular, din, "Microsoft YaHei";
}
.container .header {
  width: 100%;
  height: 1070px;
  background: url('../image/pc-bg-min.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.container .header .nav {
  width: 100%;
  height: 90px;
}
.container .header .nav .name {
  display: inline-block;
  height: 40px;
  width: auto;
  margin-left: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.container .header .nav .phone {
  float: right;
  font-size: 24px;
  font-family: din;
  color: #FFFFFF;
  height: 90px;
  line-height: 90px;
  display: inline-block;
  margin-right: 30px;
}
.container .header .nav .phone img {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.container .header .header-content {
  width: 1170px;
  height: 830px;
  margin: 129px auto 0;
  position: relative;
}
.container .header .header-content .slogans {
  padding-top: 46px;
}
.container .header .header-content .slogans .slogan {
  width: 450px;
  color: white;
  text-align: center;
}
.container .header .header-content .slogans .slogan .title-1 {
  display: block;
  margin: 0 auto;
  font-size: 72px;
}
.container .header .header-content .slogans .slogan .title-2 {
  display: block;
  margin: 7px auto;
  font-family: din;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 15px;
}
.container .header .header-content .slogans .slogan-2 {
  margin-top: 40px;
  width: 290px;
  font-size: 24px;
  color: white;
  position: relative;
  text-align: left;
}
.container .header .header-content .slogans .slogan-2 .slogan-2-1,
.container .header .header-content .slogans .slogan-2 .slogan-2-2 {
  width: 130px;
  display: inline-block;
  text-align: left;
  line-height: 24px;
}
.container .header .header-content .slogans .slogan-2 .slogan-2-1 {
  margin-right: 0.5rem;
}
.container .header .header-content .slogans .slogan-2 .slogan-2-1 .direct {
  position: relative;
  top: 2px;
  margin-right: 8px;
  float: left;
  background: url('../image/compare.png');
  -webkit-background-size: 20px;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
.container .header .header-content .slogans .slogan-2 .slogan-2-2 .pointer {
  position: relative;
  top: 2px;
  margin-right: 8px;
  float: left;
  background: url('../image/pointer.png');
  -webkit-background-size: 20px;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
.container .header .header-content .line {
  width: 160px;
  height: 1px;
  background: #CE222E 100%;
  margin-top: 121px;
}
.container .header .header-content .advantage {
  width: 250px;
  height: 67px;
  margin-top: 154px;
  background: url('../image/pc-advantage.png');
  -webkit-background-size: 100%;
  background-size: 100%;
}
.container .header .header-content .iphone {
  width: 357px;
  height: 692px;
  background: url('../image/iPhone-img.png');
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  float: right;
  position: relative;
}
.container .header .header-content .iphone .txt {
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 200px;
}
.container .header .header-content .iphone .txt .title-1,
.container .header .header-content .iphone .txt .title-2 {
  color: white;
  font-size: 18px;
  display: block;
  text-align: center;
  line-height: 27px;
}
.container .header .header-content .arrow {
  position: absolute;
  width: 50px;
  height: auto;
  display: block;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.container .middle .part {
  width: 100%;
  height: 600px;
  background: url('../image/information-bg.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 100%;
}
.container .middle .part .detail {
  width: 1170px;
  height: 600px;
  margin: 0 auto;
}
.container .middle .part .detail .detail-odd-img {
  clear: both;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  float: left;
  width: 450px;
  height: auto;
}
.container .middle .part .detail .gold {
  margin-left: 40px;
  height: 337px;
}
.container .middle .part .detail .run {
  width: 414px;
  height: 408px;
  margin-right: 40px;
}
.container .middle .part .detail .good {
  width: 433px;
  height: 381px;
  margin-left: 40px;
}
.container .middle .part .detail .save {
  width: 449px;
  height: 426px;
  margin-right: 40px;
}
.container .middle .part .detail .company {
  margin-left: 40px;
  width: 443px;
}
.container .middle .part .detail .detail-content {
  width: 380px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  float: right;
  margin-right: 40px;
}
.container .middle .part .detail .detail-content .title-1 {
  font-size: 48px;
  color: #333333;
  display: block;
  line-height: 72px;
}
.container .middle .part .detail .detail-content .title-2 {
  margin: 20px auto 0;
  font-size: 18px;
  line-height: 27px;
  color: #666666;
  display: block;
  width: 380px;
}
.container .middle .part .detail .detail-content .description-txt {
  font-size: 18px;
  color: #666;
}
.container .middle .part .detail .detail-content .description-txt p {
  text-indent: 35px;
  line-height: 27px;
}
.container .middle .part .detail .detail-content .line {
  width: 80px;
  height: 1px;
  background: #CE222E;
  margin-top: 50px;
  display: block;
}
.container .contact-method {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #999999;
}
.container .contact-method .phone,
.container .contact-method .email,
.container .contact-method .location {
  display: inline-block;
  height: 60px;
}
.container .contact-method .phone img,
.container .contact-method .email img,
.container .contact-method .location img {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.container .contact-method .phone .info,
.container .contact-method .email .info,
.container .contact-method .location .info {
  text-align: left;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-left: 1px solid #E1E1E1;
  margin-left: 25px;
  padding-left: 25px;
  line-height: 27px;
  font-size: 18px;
}
.container .contact-method .phone .info .txt,
.container .contact-method .email .info .txt,
.container .contact-method .location .info .txt {
  color: #333333;
  display: block;
  font-size: 16px;
  line-height: 16px;
}
.container .contact-method .phone .info .num,
.container .contact-method .email .info .num,
.container .contact-method .location .info .num {
  font-family: din;
}
.container .contact-method .phone img {
  width: 30px;
  height: auto;
}
.container .contact-method .email img {
  width: 26px;
  height: auto;
}
.container .contact-method .location img {
  width: 22px;
  height: auto;
}
.container .footer {
  position: relative;
}
.container .footer .map-location {
  position: relative;
}
.container .footer .map-location .pc-map {
  width: 100%;
  height: auto;
}
.container .footer .map-location .explain {
  background: rgba(0, 0, 0, 0.5);
  color: #E1E1E1;
  font-size: 12px;
  display: block;
  width: 200px;
  height: 33px;
  line-height: 26px;
  position: absolute;
  top: 93px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.container .footer .map-location .location {
  display: block;
  width: 33px;
  height: 36px;
  background: url(../image/location.png) no-repeat;
  background-size: 100%;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.container .footer .map {
  position: relative;
  width: 100%;
  height: 396px;
  background: url('../image/pc-map.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.container .footer .map .explain {
  background: rgba(0, 0, 0, 0.5);
  color: #E1E1E1;
  font-size: 12px;
  display: block;
  width: 200px;
  height: 33px;
  line-height: 26px;
  position: relative;
  top: 153px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.container .footer .map .location {
  display: block;
  width: 33px;
  height: 36px;
  background: url(../image/location.png) no-repeat;
  background-size: 100%;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.container .footer .copyright {
  width: 100%;
  height: 183px;
  background: #cc2533;
  font-size: 14px;
  color: #de767e;
  position: relative;
}
.container .footer .copyright .pc-app {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -45%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.container .footer .copyright .name {
  display: block;
  width: 130px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 78px;
}
.container .footer .copyright .txt {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
.container .footer .copyright .txt .title-1 {
  display: block;
}
@media screen and (min-width: 1000px) and (max-width: 1024px) {
  .container .header {
    height: 578px;
  }
  .container .header .header-content {
    height: 488px;
    margin: 0 auto;
  }
  .container .header .header-content .iphone {
    width: 279px;
    height: 458px;
  }
  .container .middle .part .detail {
    width: 900px;
  }
  .container .header .header-content .line {
    margin-top: 65px;
  }
  .container .header .header-content .advantage {
    margin-top: 60px;
  }
  .container .middle .part .detail .gold {
    height: 234px;
    width: 310px;
    margin-left: 50px;
  }
  .container .middle .part .detail .detail-content {
    width: 317px;
  }
  .container .middle .part .detail .run {
    width: 286px;
    height: 275px;
    margin-right: 50px;
  }
  .container .middle .part .detail .good {
    width: 310px;
    height: 288px;
    margin-left: 48px;
  }
  .container .middle .part .detail .save {
    width: 315px;
    height: 309px;
  }
  .container .footer .map-location .explain {
    top: 68px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .container .header .header-content .iphone .txt {
    top: 65%;
  }
  .container .header {
    height: 711px;
  }
  .container .header .header-content {
    height: 563px;
    margin: 50px auto 0;
  }
  .container .middle .part .detail .detail-odd-img {
    width: 250px;
    height: auto;
  }
  .container .header .header-content .slogans .slogan {
    width: 306px;
  }
  .container .header .header-content .slogans .slogan .title-1 {
    font-size: 50px;
  }
  .container .header .header-content .slogans .slogan .title-2 {
    letter-spacing: 8px;
  }
  .container .header .header-content .line {
    margin-top: 70px;
  }
  .container .header .header-content .advantage {
    margin-top: 70px;
  }
  .container .header .header-content .iphone {
    width: 287px;
    height: 468px;
  }
  .container .middle .part .detail .company {
    width: 338px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .container .header .header-content .arrow {
    bottom: -44px;
  }
  .container .header {
    height: 767px;
  }
  .container .header .header-content {
    height: 547px;
    margin-top: 63px;
  }
  .container .header .header-content .iphone {
    height: 499px;
    width: 303px;
  }
  .container .header .header-content .iphone .txt {
    top: 294px;
  }
  .container .header .header-content .line {
    margin-top: 65px;
  }
  .container .header .header-content .advantage {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
  .container .footer .map-location .explain {
    top: 106px;
  }
  .container .header .header-content .line {
    margin-top: 60px;
  }
  .container .header .header-content .advantage {
    margin-top: 60px;
  }
  .container .header .header-content .iphone {
    height: 499px;
    width: 303px;
    top: -11px;
  }
  .container .header .header-content .iphone .txt {
    top: 66%;
  }
  .container .header .header-content .arrow {
    bottom: -44px;
  }
  .container .header {
    height: 767px;
  }
  .container .header .header-content {
    height: 547px;
    margin-top: 75px;
  }
}
@media screen and (min-width: 1501px) and (max-width: 1800px) {
  .container .header .header-content .iphone .txt {
    top: 31%;
  }
  .container .header {
    height: 900px;
  }
  .container .header .header-content {
    height: 680px;
    margin-top: 105px;
  }
  .container .header .header-content .line {
    margin-top: 54px;
  }
  .container .header .header-content .advantage {
    margin-top: 96px;
  }
  .container .footer .map {
    height: 333px;
  }
  .container .footer .map-location .explain {
    top: 124px;
  }
  .container .header .header-content .iphone {
    top: -20px;
  }
}
